* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* regole generali */
body {
    font-family: 'Open Sans', sans-serif;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* width */
.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}
/* margin */
.margin-container {
    width: 60%;
    margin: 0 auto;
}

.margin-top {
    margin-top: 50px;
}

.marg {
    margin: 15vh 0;
}

.margin {
    margin: 50px 0;
}

.button {
    padding: 15px 20px;
    background-color: rgb(54, 54, 194);
    color: white;
}

.white {
    color: white;
}

.black {
    color: black;
}

.inl-block {
    display: inline-block;
}

.underline-none {
    text-decoration: none;
}
/* header nav */
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    position: fixed;
    z-index: 9999;
    background-color: white;
    font-size: 20px;
}

nav {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}


nav ul li {
   margin: 0 30px;
   list-style: none;
}

nav ul li:hover{
    border-bottom: 2px solid rgb(66, 66, 228);
    cursor: pointer;
}

.item {
    display: none;
    position: absolute;
}

#tendina:hover .item {
    display: block; 
    text-align: center;
}


/* jumbotron */
#jumbotron {
    width: 100%;
    padding-top: 100px;
    background-color: rgb(115, 203, 224);
}

#jumbotron .container {
    padding: 70px 0px;
    width: 70%;
    margin: 0 auto;
}

#jumbotron .container h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

.testo {
    font-size: 2em;
    margin-bottom: 30px;
}

.fa-down-long {
    font-size: 3em;
    margin-top: 10%;
}

#jumbotron .container img {
    width: 100%;
    object-fit: contain;
    z-index: -10;
}

/* buisness colonne float */
#buisness {
    margin: 100px 0;
}

#buisness h2 {
    font-size: 3em;
}

#buisness .checkbox{
    margin: 50px 0;
}

.col {
    border: 1px grey solid;
    padding: 30px;
    line-height: 50px;
    width: 32%;
    margin-right: 1.2%;
    font-size: 1.2em;
}

.block {
    display: block;
}

.blu {
    color: rgb(26, 26, 201);
}

.text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    border-bottom: 1px solid grey;
}

#h2font {
    font-size: 1.5em;
}

.fa-check {
    color: rgb(36, 36, 209);
}

.under-col {
    padding: 50px 0;
    line-height: 60px;
}

.grey {
    color: lightgrey;
}
/* colonna orizzontale */
.horizontal {
    border: 1px solid grey;
    padding: 50px;
    margin: 100px 0;
    width: 100%;
}

.font-size {
    font-size: 1.5em;
}

#special-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
}

.img-resize {
    object-fit: contain;
    width: 100%;
}

.p-font {
    font-size: 1.3em;
}

.margin-txt {
    margin: 30px 0;
}

.layout {
    width: 30%;
    margin-right: 3%;
}

.layout img {
    width: 100%;
}

.h2style {
    font-size: 5em;
}
/* layout university */
.university-layout {   
    width: 100%;
}

.square {
    width: calc(100%/3);
}

.row-square {
    width: 50%;
    padding: 100px;
}

.row-square img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    filter: invert(1);
}

#cx {
    font-size: 1.7em;
    background-color: lightgrey;
    width: 100%;
    height: 710px;
}

#cx h2 {
    font-size: 3em;
}

.university-title {
    margin-bottom: 20%;
}

/* bckground img */
.bck-green {
    background-color: lightgreen;
}

.bck-purple {
    background-color: purple;
}

.bck-red {
    background-color: red;
}

.bck-aqua {
    background-color: aquamarine;
}

.bck-yellow {
    background-color: rgb(219, 219, 0);
}

.bck-blue {
    background-color: rgb(9, 9, 82);
}

.bck-azure {
    background-color: rgb(169, 211, 245);
}

.azure-container {
    padding: 200px 0;
}

.purple {
    font-size: 3em;
    color: purple;
}

#white-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
}

/* domande hover con display none */
#question {
    width: 60%;
    margin: 100px auto;
    font-size: 1.5em;
}

.l-height-100 {
    line-height: 100px;
}

.border-bot {
    border-bottom: 1px solid grey;
}

.dis-none {
    display: none;
}

.appared-txt:hover .dis-none{
    display: block;
    margin-top: 20px;
}

/* footer */

footer {
    width: 100%;
    background-color: black;
    color: white;
    line-height: 50px;
}

.padding-top {
    padding-top: 100px;
}

.padding {
    padding: 100px 0;
}

#border-footer {
    border-bottom: 1px solid white;
    margin: 50px 0;
    width: 25%;
}