* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.f-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.f-right {
    float: right;
}

.button {
    padding: 15px 20px;
    background-color: rgb(54, 54, 194);
    color: white;
}

.white {
    color: white;
}

.black {
    color: black;
}

.inl-block {
    display: inline-block;
}

.underline-none {
    text-decoration: none;
}
/* header nav */
header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    position: fixed;
    z-index: 9999;
    margin-bottom: 400px;
    background-color: white;
    font-size: 20px;
}

.nav {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}


.nav ul li {
   margin: 0 30px;
   list-style: none;
}


#jumbotron {
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(115, 203, 224);
}

#jumbotron .container {
    padding: 70px 0px;
    width: 70%;
    margin: 0 auto;
}

#jumbotron .container h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

.testo {
    font-size: 2em;
    margin-bottom: 30px;
}

.margin {
    margin: 50px 0;
}

#jumbotron .container img {
    width: 100%;
    object-fit: contain;
    z-index: -10;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

main {
    width: 60%;
    margin: 0 auto;
}

#buisness {
    margin: 100px 0;
}

#buisness h2 {
    font-size: 3em;
}

#buisness .checkbox{
    margin: 50px 0;
}

.col {
    border: 1px grey solid;
    padding: 30px;
    line-height: 50px;
    width: 30%;
    margin-right: 3%;
    font-size: 1.2em;
}

.margin-top {
    margin-top: 50px;
}

.block {
    display: block;
}

.blu {
    color: rgb(26, 26, 201);
}

.text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    border-bottom: 1px solid grey;
}
/* 
.fas{
    width: 20%;
    height: 20px;
    color: black;
} */

.under-col {
    padding: 50px 0;
    line-height: 60px;
}

.grey {
    color: lightgrey;
}

.horizontal {
    margin: 100px 0;
    width: 100%;
}

.font-size {
    font-size: 1.5em;
}

.marg {
    margin: 15vh 0;
}

#special-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    width: 70%;
}

.img-resize {
    object-fit: contain;
    width: 100%;
}

.p-font {
    font-size: 1.3em;
}

.margin-txt {
    margin: 30px 0;
}

.layout {
    width: 30%;
    margin-right: 3%;
}

.layout img {
    width: 100%;
}

.h2style {
    font-size: 5em;
}